<section class="schedule">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-12 col-sm-4">
        <div class="schedule-wrapper">
          <div class="img-block">
            <img src="address.png" alt="" />
          </div>
          <div class="description-wrapper">
            <h3>Address</h3>
            <p class="text">
              5480 West Hillsboro Blvd<br />
              Coconut Creek, Florida 33073
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="schedule-wrapper">
          <div class="img-block">
            <img src="telephone.png" alt="" />
          </div>
          <div class="description-wrapper">
            <h3>Phone Numbers</h3>
            <p class="text">
              (800)123-45-67<br />
              (800)765-43-21
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="schedule-wrapper">
          <div class="img-block">
            <img src="clock.png" alt="" />
          </div>
          <div class="description-wrapper">
            <h3>Open Hours</h3>
            <p class="text">
              Weekdays:9:00 - 17:00<br />
              Saturday:10:00 - 15:00
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>