<!DOCTYPE html>
<html lang="en">

{{> "../../components/head/head" title="Be Beuaty"}}

<body>

    {{> "../../components/header/header" }}

    <section class="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6 order-2 order-lg-1">
                    <div class="about-information">
                        <div class="block-background d-none d-lg-block"></div>
                        <h1>About us</h1>
                        <p class="text">ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                            ut aliquip ex ea commodo consequat.
                            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
                            illum dolore eu feugiat nulla
                            facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
                            praesent luptatum zzril delenit augue duis dolore te feugait nu.
                        </p>
                        <p class="text">
                            veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
                            commodo consequat.
                            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
                            vel.
                        </p>
                        <p class="text">
                            nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
                            vulputate velit esse molestie consequat.
                            ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                            ea commodo consequat.
                        </p>
                        <div class="important-text">
                            <div class="seperator"></div>
                            <p class="text important">
                                ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                                aliquip ex ea commodo consequat.
                                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
                            </p>
                        </div>
                        <p class="text">
                            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet dolore magna aliquam.
                        </p>
                        <div class="signature">
                            <img src="Signature.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 order-1 order-lg-2 d-none d-md-block">
                    <div class="img-block">
                        <img src="model.png" alt="">
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="team">
        <div class="contaier-fluid">
            <h2 class="title">Our team</h2>
            <div class="slider">
                <div class="item">
                    <div class="master-wrapper">
                        <div class="master-block hanga">
                            <img src="hanga.png" alt="">
                        </div>
                    </div>
                    <h3 class="name">Hanga Johnson</h3>
                    <p class="master">Management Salon</p>
                </div>
                <div class="item">
                    <div class="master-wrapper">
                        <div class="master-block banita">
                            <img src="banita.png" alt="">
                        </div>
                    </div>
                    <h3 class="name">Banita Meyer</h3>
                    <p class="master">Hairdresser</p>
                </div>
                <div class="item">
                    <div class="master-wrapper">
                        <div class="master-block sahur">
                            <img src="sahur.png" alt="">
                        </div>
                    </div>
                    <h3 class="name">Sahur Gibson</h3>
                    <p class="master">Grimm</p>
                </div>
            </div>
        </div>
    </section>

    {{> "../../components/instruction/instruction" }}
    {{> "../../components/social/social" }}
    {{> "../../components/footer/footer" }}
</body>

</html>