<section class="instruction" style="background-image: url('instroction-img.jpg')">
  <div class="container">
    <div class="call-to-action">
      <a class="btn btn-main btn-primary"> <span>Details</span> </a>
    </div>
  </div>
</section>