@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900");

/* -----------------SERVICE ----------------*/
.service {
  position: relative;
  padding: 0 70px;
  margin-top: 50px;
  text-transform: uppercase;

  @include media-breakpoint-down(md) {
    padding: 0;
  }

  .block {
    position: relative;

    @include media-breakpoint-down(xl) {
      display: flex;
      justify-content: center;
      height: 600px;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
    }

    @include media-breakpoint-down(sm) {
      height: 400px;
      width: 300px;
    }
    
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: calc(100% - 40px);
      background-color: rgba(33, 150, 243, 0.2);
    }

    img {
      height: 100%;
      max-width: 100%;
      position: absolute;
      top: 0;

      @include media-breakpoint-down(xl) {
        max-width: 420px;
      }
    }

    &.nails {
      &::before {
        background-color: rgba(33, 150, 243, 0.2);
      }
    }
    &.makeup {
      &::before {
        background-color: #fbe2dc;
      }
    }
    &.tatto {
      &::before {
        background-color: #faf5db;
      }
    }
  }

  .price {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(md) {
      text-align: center;
    }

    .title {
      color: rgba(0, 0, 0, 0.3);

      @include media-breakpoint-down(xl) {
        margin-top: 20px;
      }
    }

    .price-list {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-top: 50px;

      @include media-breakpoint-down(lg) {
        margin-top: 20px;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
      }
      li {
        display: flex;
        justify-content: space-between;
        font-weight: 300;
        margin: 15px 0;
        padding: 0 35px;
        width: 50%;

        @include media-breakpoint-down(sm) {
          margin: 5px;
          width: 100%;
        }

        span{
          font-size: 12px;
        }
      }
    }
    .price-list .value {
      font-weight: 700;
    }
  }
}

.row {
  margin-bottom: 40px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.row:nth-child(2n) .block::before {
  right: 0;
  left: auto;
}

/* -----------------END SERVICE ----------------*/
