<!DOCTYPE html>
<html lang="en">

{{> "../../components/head/head" title="Be Beuaty"}}

<body>

    {{> "../../components/header/header" }}

    <section class="service">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12 col-xl-6 d-none d-md-block">
                    <div class="block nails">
                        <img src="hands.png" alt="">
                    </div>
                </div>
                <div class="col-12 col-xl-6">
                    <div class="price">
                        <p class="title">beauty salon</p>
                        <h2 class="title-service">nail design</h2>
                        <div class="price-list">
                            <ul>
                                <li>
                                    <span>manicure</span>
                                    <span class="value">$18</span>
                                </li>
                                <li>
                                    <span>deluxe manicure</span>
                                    <span class="value">$25</span>
                                </li>
                                <li>
                                    <span>gel manicure</span>
                                    <span class="value">$35</span>
                                </li>
                                <li>
                                    <span>princess manicure</span>
                                    <span class="value">$12</span>
                                </li>
                                <li>
                                    <span>brow aplication</span>
                                    <span class="value">$12</span>
                                </li>
                                <li>
                                    <span>pedicure</span>
                                    <span class="value">$38</span>
                                </li>
                                <li>
                                    <span>gel pedicure</span>
                                    <span class="value">$52</span>
                                </li>
                                <li>
                                    <span>princess pedicure</span>
                                    <span class="value">$20</span>
                                </li>
                                <li>
                                    <span>full set</span>
                                    <span class="value">$32</span>
                                </li>
                                <li>
                                    <span>fill</span>
                                    <span class="value">$22</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- makeup -->
            <div class="row align-items-center">
                
                <div class="col-12 col-xl-6 order-2 order-xl-1">
                    <div class="price">
                        <p class="title">beauty salon</p>
                        <h2 class="title-service">makeup</h2>
                        <div class="price-list">
                            <ul>
                                <li>
                                    <span>manicure</span>
                                    <span class="value">$18</span>
                                </li>
                                <li>
                                    <span>deluxe manicure</span>
                                    <span class="value">$25</span>
                                </li>
                                <li>
                                    <span>gel manicure</span>
                                    <span class="value">$35</span>
                                </li>
                                <li>
                                    <span>princess manicure</span>
                                    <span class="value">$12</span>
                                </li>
                                <li>
                                    <span>brow aplication</span>
                                    <span class="value">$12</span>
                                </li>
                                <li>
                                    <span>pedicure</span>
                                    <span class="value">$38</span>
                                </li>
                                <li>
                                    <span>gel pedicure</span>
                                    <span class="value">$52</span>
                                </li>
                                <li>
                                    <span>princess pedicure</span>
                                    <span class="value">$20</span>
                                </li>
                                <li>
                                    <span>full set</span>
                                    <span class="value">$32</span>
                                </li>
                                <li>
                                    <span>fill</span>
                                    <span class="value">$22</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-6 order-1 order-xl-2 d-none d-md-block">
                    <div class="block-wrapper">
                        <div class="block makeup">
                            <img src="face.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- tatto -->
            <div class="row align-items-center">
                <div class="col-12 col-xl-6 d-none d-md-block">
                    <div class="block tatto">
                        <img src="body.png" alt="">
                    </div>
                </div>
                <div class="col-12 col-xl-6">
                    <div class="price">
                        <p class="title">beauty salon</p>
                        <h2 class="title-service">tatto</h2>
                        <div class="price-list">
                            <ul>
                                <li>
                                    <span>manicure</span>
                                    <span class="value">$18</span>
                                </li>
                                <li>
                                    <span>deluxe manicure</span>
                                    <span class="value">$25</span>
                                </li>
                                <li>
                                    <span>gel manicure</span>
                                    <span class="value">$35</span>
                                </li>
                                <li>
                                    <span>princess manicure</span>
                                    <span class="value">$12</span>
                                </li>
                                <li>
                                    <span>brow aplication</span>
                                    <span class="value">$12</span>
                                </li>
                                <li>
                                    <span>pedicure</span>
                                    <span class="value">$38</span>
                                </li>
                                <li>
                                    <span>gel pedicure</span>
                                    <span class="value">$52</span>
                                </li>
                                <li>
                                    <span>princess pedicure</span>
                                    <span class="value">$20</span>
                                </li>
                                <li>
                                    <span>full set</span>
                                    <span class="value">$32</span>
                                </li>
                                <li>
                                    <span>fill</span>
                                    <span class="value">$22</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{> "../../components/social/social" }}
    {{> "../../components/footer/footer" }}
</body>

</html>